<div class="note_header">
  <div class="left_header">
    <div class="note_title">
      漫画(仮)
    </div>
  </div>
  <div class="right_header">
    <div class="note_button">
      <a href="#">投稿</a>
    </div>
  </div>
</div>
<div class="note_body">
  <div class="note_body_content">
    <!-- 投稿一覧を表示するエリア -->
    <div class="posts_area">
      <!-- 投稿アイテム（これを繰り返し表示） -->
      <div class="post_item">
        <div class="post_image">
          <%= image_tag "sample.jpg", class: "manga_image" %>
        </div>
        <div class="post_info">
          <div class="manga_title">アオアシ</div>
          <div class="manga_volume">第1巻</div>
        </div>
      </div>
    </div>
  </div>
</div>
