<div class="side_bar_header">
  <div class="create_shelf">
    <a href="#">新規作成</a>
    <%# <%= link_to "新規作成", new_shelf_path, class: "create_shelf_link" %>
  </div>
</div>
<div class="shelfs">
  <div class="shelf">
    <div class="shelf_name">
      <a href="#">漫画(仮)</a>
    </div>
  </div>
  <div class="shelf">
    <div class="shelf_name">
      <a href="#">ラノベ(仮)</a>
    </div>
  </div>
</div>